body {
background: #111;
color: #00ff88;
font-family: 'Courier New', monospace;
text-align: center;
}


.tv {
width: 500px;
margin: 40px auto;
padding: 20px;
background: #444;
border-radius: 20px;
}


.screen {
background: black;
padding: 20px;
border-radius: 10px;
min-height: 300px;
}


ul {
list-style: none;
padding: 0;
}


li {
font-size: 22px;
margin: 10px 0;
opacity: 0;
transition: opacity 0.5s;
}


li.show {
opacity: 1;
}


button {
padding: 10px 20px;
font-size: 18px;
cursor: pointer;
}