body {
margin: 0;
background: black;
font-family: monospace;
color: #00ff88;
text-align: center;
}


.boot {
position: fixed;
inset: 0;
background: black;
}


.hidden {
display: none;
}


.tv {
width: 560px;
margin: 40px auto;
background: #444;
padding: 20px;
border-radius: 25px;
}


.screen {
background: black;
padding: 20px;
border-radius: 15px;
}


textarea {
width: 95%;
height: 100px;
background: black;
color: #00ff88;
border: 1px solid #00ff88;
padding: 8px;
}


button {
margin-top: 10px;
padding: 10px 20px;
background: black;
color: #00ff88;
border: 2px solid #00ff88;
cursor: pointer;
}


.towers {
display: flex;
align-items: flex-end;
justify-content: center;
gap: 14px;
height: 220px;
margin-top: 25px;
}


.tower {
width: 50px;
background: #00ff88;
display: flex;
align-items: flex-end;
justify-content: center;
transition: height 0.6s, background 0.6s;
}


.tower span {
writing-mode: vertical-rl;
transform: rotate(180deg);
font-size: 12px;
margin-bottom: 5px;
}


.tower.eliminated {
background: red;
}


.result {
margin-top: 20px;
font-size: 20px;
color: red;
}